{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card card-body">
                <form method="POST" action="">
                    {%  csrf_token %}
                    {{ form.management_form }}
                    {% for forms in form %}
                        {{ forms }}
                        <hr>
                    {% endfor %}
                    <input type="submit" name="Submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}